html {
  background: url("radboud.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

body {
    text-align: center;
    color: white;
    font-family: Calibri;
    font-style: normal;
    text-decoration: none;
    font-size: 200%;
    text-transform: uppercase;
}

.naam {
  font-weight: bold;
}

.titel {
    font-size: 300%;
    line-height: normal;
}

#menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

#menu > ul {
  list-style-type: none;
}

li {
  padding: 10px;
  text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-family: Calibri;
    font-size: 100%;
    text-align: center
}

/*
ul:hover {
  animation-name: color;
  animation-duration: 2s;
}

@keyframes color {
    0%{color: white;}
    100%{color: #00AFDC;}
}
*/

/* responsive */
@media only screen and (max-width: 650px) {
    .titel {
        font-size: 600%;
    }
    .ondertitel {
        font-size: 300%;
    }
    html {
      background: url("radboud.jpg");
      background-position: center;
      background-size: auto;
    }
}

@media only screen and (max-width: 350px) {
    .titel {
        font-size: 100%;
    }
    .ondertitel {
        font-size: 100%;
    }
}
