body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#titel {
    font-size: 1050%;
    animation: color 60s infinite;
    line-height: 0%;
}

#ondertitel {
    font-size: 500%;
    color: black;
    line-height: 0%;
}

p {
    font-size: 150%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

@keyframes color {
    0%{color: black;}
    15%{color: #C62828;}
    30%{color: #EF6C00;}
    45%{color: #F9A825;}
    60%{color: #2E7D32;}
    75%{color: #1565C0;}
    90%{color: #6A1B9A;}
    100%{color: black;}
}

/* responsive */
@media only screen and (max-width: 500px) {
    #titel {
        font-size: 525%;
    }
    #ondertitel {
        font-size: 250%;
    }
}



